body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poke-list {
  margin: 32pt auto;
}

.lbl-large {
  font-size: 16pt;
}

.pokeball-spinner {
  display: inline-block;
  margin-left: 12pt;
  height: 32pt;
  width: 32pt;
  border: 3pt solid #383b4f;
  border-radius: 50%;
  background-image: linear-gradient(
    #f51939 12.5pt,
    white 12.5pt
  );
  animation: load 4s infinite;
}
/*line*/
.pokeball-spinner:before {
  position: absolute;
  content: "";
  height: 2pt;
  width: 28pt;
  background-color: #383b4f;
  top: 12pt;
  left: 0pt;
}
/*button*/
.pokeball-spinner:after {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 12pt;
  width: 12pt;
  background-image: radial-gradient(
    #ffffffff 0pt, #ffffffff 1.25pt, 
    #383b4f 1pt, #383b4f 2pt, 
    #ffffff 2pt, #ffffff 4pt,
    #383b4f 5pt
  );
  top: 7.5pt;
  right: 7.5pt;
}

@keyframes load {
  0% {
    transform: rotate(-360deg);
  }
}
