body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poke-list {
  margin: 32pt auto;
  min-height: 80pt;
}

.lbl-large {
  font-size: 16pt;
}

.pokeball-spinner {
  margin: 32pt auto 10pt auto;
  height: 125pt;
  width: 125pt;
  border: 6pt solid #383b4f;
  border-radius: 50%;
  background-image: linear-gradient(
    #f51939 58pt,
    white 58pt
  );
  animation: load 5s infinite;
}
/*line*/
.pokeball-spinner:before {
  position: absolute;
  content: "";
  height: 9pt;
  width: 122pt;
  background-color: #383b4f;
  top: 52pt;
  left: -5pt;
}
/*button*/
.pokeball-spinner:after {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 45pt;
  width: 45pt;
  background-image: radial-gradient(
    #ffffffff 0pt, #ffffffff 5pt, 
    #383b4f 5pt, #383b4f 7.5pt, 
    #ffffff 7.5pt, #ffffff 16pt,
    #383b4f 16pt
  );
  top: 36pt;
  right: 33pt;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
